body{
    background-color: #F0F0F0;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: 'Abel', sans-serif;
}


.nav-title {
    font-family: 'Abel', sans-serif;
    text-align: center;
}
.navbar{
    justify-content: center;
}

.nav-img {
    padding: 0;
    margin: auto;
    max-width: 105px;
    max-height: 105px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.title-holder{
    text-align: center;
}
.title {
    font-family: 'Anton', sans-serif;
    width: fit-content;
    margin: auto;
}

.dot-wrapper{
padding: 20px 30px;
}
.dot {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    Border: 7px solid white;
    font-family: 'Anton', sans-serif;
    color: white;
}
.dot-design{
    background-color: #E6563B;
}
.dot-develop{
    background-color: #EB9D3A;
}
.dot-support{
    background-color: #7CB06C;
}
.dot-host{
    background-color: #00ABA9;
}

.resize-image {
    max-width: 30px;

}

.projects img {
    max-width: 300px;
    padding: 0;
    border: 3px solid #e6e6e6;


}
.container-title{
    width: fit-content;
    margin: auto;
    padding: 20px;
    font-family: 'Abel', sans-serif;
}
.last img {
    max-width: 50px;
    max-height: 50px;
    border: 1px solid #f0f0f0;
}
.image-house {
    justify-content: space-between;
    align-items: end;
    font-family: 'Abel', sans-serif;
}
.badge {
    border-radius: 50px;
    font-family: 'Anton', sans-serif;
}

#twitter {
    border: none;
    padding: 5px 10px;
}
.post-container {
    font-family: 'Anton', sans-serif;
}
#twitter-post {
    font-family: 'Abel', sans-serif;
}